@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    font-family: "Inter";
    margin: 0;
    padding: 0;
}
.header-logo{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.procurar{
    padding-left: 80px;
    padding-top: 7px;
}
input[type="text"] {
    border: none;
    width: 250px;
    height: 20px;
}
.logo{
    height: 32px;
    width: 167px;
}
nav{
    display: flex;
    justify-content: space-evenly;
    padding-top: 20px;
    padding-bottom: 30px;
}
li{
    list-style-type: none;
}
li a{
    text-decoration: none;
    color: #05073C;
    font-family: arial;
    font-size: 14.7px;
}
ul{
    display: flex;
    flex-direction: row;
    gap: 60px;
    padding-top: 10px;
}
.log-in{
    background-color: #EB662B;
    border-radius: 25px;
    padding-left: 18px;
    padding-right: 18px;
    padding-bottom: 12px;
    padding-top: 12px;
    color: white;
}
.section-banner{
    display: flex;
    justify-content: center;
}
.banner{
    background-image: url("./assets/banner-1.png");
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 710px;
    width: 1805px;
}
.banner-titulo{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 78px;
    color: white;
    font-weight: 500;
    padding-bottom: 10px;
}
.banner-texto{
    font-size: 14.6px;
    color: white;
}
.caixa-texto-banner{
    padding-bottom: 120px;
}
.botoes{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    border-radius: 12px;
    width: 850px;
    height: 80px;
}
.botao-search{
    border-style: none;
    border-color: #EB662B;
    background-color: #EB662B;
    padding: 20px;
    width: 137px;
    height: 60px;
    border-radius: 12px;
    padding-left: 60px;
    color: white;
    font-size: 14.65px;
}
.where{
    display: flex;
    flex-direction: column;
}
.when{
    display: flex;
    flex-direction: column;
}
.tour-type{
    display: flex;
    flex-direction: column;
}
.quadrado{
    border: 1px solid #E7E6E6;
    border-radius: 12px;
    height: 50px;
    width: 50px;
}
.botoes-texto{
    color: #717171;
    font-size: 13.67px;
}
.botoes-titulo{
    font-size: 14.88px;
    color:#05073C;
    font-weight: 500;
}
.why-tourz-titulo{
    color: #05073C;
    font-size: 29.3px;
    font-weight: 700;
    padding-bottom: 40px;
}
.section-center{
    padding-top: 120px;
    padding-bottom: 120px;
    display: flex;
    justify-content: center;
}
.why-tourz{
    height: 296.38px;
    width: 1320px;
}
.tourz-caixas{
    display: flex;
    justify-content: space-around;
}
.caixas-tourz-titulo{
    color: #05073C;
    font-size: 17.72px;
    padding-bottom: 10px;
}
.caixas-tourz-texto{
    font-size: 14.65px;
    color: #05073C;
}
.imagem-why-tourz{
    padding-bottom: 30px;
}
.tourz-conjuntos{
    width: 255px;
}
.trending-destinations{
    height: 296.38px;
    width: 1320px;
    display: flex;
    justify-self: center;
    flex-direction: column;
    gap: 70px;
    padding-bottom: 200px;
}
.trending-destinations-caixa{
    display: flex;
    justify-content: space-around;
    gap: 20px;
}
.trending-destinations-titulo{
    font-size: 29.41px;
    color: #05073C;
    font-weight: 700;
}
.conjunto-destinations{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 7px;
}
.conjunto-destinations img{
    padding-bottom: 15px;
}
.conjunto-destinations-titulo{
    font-size: 15.63px;
    color: #05073C;
}
.conjunto-destinations-texto{
    font-size: 13.56px;
    color: #05073C;
}
.popular-tours{
    display: flex;
    flex-flow: column wrap;
    justify-self: center;
    height: 815px;
    width: 1500px;
    padding: 10px;
}
.popular-tours-titulo{
    padding-bottom: 50px;
    font-size: 29.41px;
    color:#05073C;
    font-weight: 700;
}
.popular-tours-caixas{
    width: 300px;
    height: 388.31px;
    border-radius: 12px;
    border: 1px solid #E7E6E6;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
}
hr{
    border: 1px solid #717171;
    width: 80%;
    margin: 0 auto;
}
.texto-imagem-popular{
    gap: 10px;
    display: flex;
    flex-direction: column;
}
.popular-titulo{
    color: #717171;
    font-size: 12.29px;
    padding-left: 20px;
    padding-top: 15px;
}
.popular-texto{
    color: #05073C;
    font-size: 15.88px;
    padding: 5px;
    padding-left: 10px;
}
.popular-avaliacao{
    font-size: 15.88px;
    color: #05073C;
    padding-left: 70px;
}
.preco-e-tempo{
    display: flex;
    justify-content: space-around;
    gap: 100px;
    color: #05073C;
}