@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    font-family: "Inter";
    margin: 0;
    padding: 0;
}
.header-logo{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.procurar{
    padding-left: 80px;
    padding-top: 7px;
}
input[type="text"] {
    border: none;
    width: 250px;
    height: 20px;
}
.logo{
    height: 32px;
    width: 167px;
}
nav{
    display: flex;
    justify-content: space-evenly;
    padding-top: 20px;
    padding-bottom: 30px;
}
li{
    list-style-type: none;
}
li a{
    text-decoration: none;
    color: #05073C;
    font-family: arial;
    font-size: 14.7px;
}
ul{
    display: flex;
    flex-direction: row;
    gap: 60px;
    padding-top: 10px;
}
.log-in{
    background-color: #EB662B;
    border-radius: 25px;
    padding-left: 18px;
    padding-right: 18px;
    padding-bottom: 12px;
    padding-top: 12px;
    color: white;
}
.section-banner{
    display: flex;
    justify-content: center;
}
.banner{
    background-image: url("./assets/banner-1.png");
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 710px;
    width: 1805px;
}
.banner-titulo{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 78px;
    color: white;
    font-weight: 500;
    padding-bottom: 10px;
}
.banner-texto{
    font-size: 14.6px;
    color: white;
}
.caixa-texto-banner{
    padding-bottom: 120px;
}
.botoes-banner{
    background-color: #EB662B;
}